@model List<PatientResponse>

<form asp-action="ListPatients" asp-controller="Patient" method="get">
    <div class="search-box">
        <input type="search" value="@ViewBag.CurrentSearchString" id="Search" name="searchString" class="input-search" placeholder="Pesquisar" />
        <a asp-action="NewPatient" asp-controller="Patient" class="btn btn-full btn-add-new">Nova</a>
        <select asp-items="@ViewBag.SearchBy" name="searchBy" class="combo-search-by">
            @foreach (var field in ViewBag.SearchFields)
            {
                if (field.Key == ViewBag.CurrentSearchBy)
                {
                    <option selected="selected" value="@field.Key">@field.Value</option>
                }
                else
                {
                    <option value="@field.Key">@field.Value</option>
                }

            }
        </select>
        <button class="btn-search"><i class="ph ph-magnifying-glass"></i></button>
    </div>
</form>

@{
    await Html.RenderPartialAsync("_ShowSuccessError");
}

<div class="table-container">
    <table class="table table-6">
        <thead class="table-header">
            <tr class="table-row-header">
                @await Html.PartialAsync("_GridColumnHeaderPatients", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(PatientResponse.PatientName)},
                {"DisplayName", "Paciente"},
                })

                @await Html.PartialAsync("_GridColumnHeaderPatients", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(PatientResponse.PhoneNumber)},
                {"DisplayName", "Telefone"},
                })

                @await Html.PartialAsync("_GridColumnHeaderPatients", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(PatientResponse.Manager.PersonName)},
                {"DisplayName", "Nome do Gerenciador"},
                })

                @await Html.PartialAsync("_GridColumnHeaderPatients", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(PatientResponse.CPF)},
                {"DisplayName", "CPF"},
                })

                @await Html.PartialAsync("_GridColumnHeaderPatients", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(PatientResponse.Gender)},
                {"DisplayName", "Gênero"},
                })

                <th class="table-head-column"></th>
            </tr>
        </thead>
        <tbody class="table-body">
            @foreach (var item in Model)
            {
                <tr class="table-row-body" onclick="window.location.href='/Patient/SeePatientDetails/@item?.ID'">
                    <td class="table-column">
                        <p class="table-item">@item?.PatientName</p>
                    </td>
                    <td class="table-column">
                        <p class="table-item">@item?.PhoneNumber</p>
                    </td>
                    <td class="table-column">
                        <p class="table-item">@item?.Manager?.PersonName</p>
                    </td>
                    <td class="table-column">
                        <p class="table-item">@item?.CPF</p>
                    </td>
                    <td class="table-column">
                        <p class="table-item">@item?.Gender</p>
                    </td>
                    <td class="table-column">
                        <div class="flex gap-sm flex-align-center">
                            <a asp-controller="Patient" class="btn-default btn-option" asp-action="UpdatePatient" asp-route-id="@item?.ID"><i class="ph ph-gear"></i></a>
                            <p class="hidden item-name">@item?.PatientName</p>
                            <p class="hidden item-id">@item?.ID</p>
                            <button class="btn-modal btn-warning btn-option"><i class="ph ph-trash-simple"></i></button>
                            <a class="btn btn-full" asp-action="NewAppointment" asp-controller="Appointment" asp-route-PatientOrDentistID="@item?.ID">Agendar <i class="ph ph-calendar-check"></i></a>
                        </div>
                    </td>
                </tr>
         
                
            }
        </tbody>
    </table>
    <div class="flex flex-spaced table-footer">
        <div class="flex gap-md flex-align-center">
            <i class="ph ph-caret-left pagination-icon previous-tab"></i>
            <div class="pagination-numbers flex gap-sm"></div>
            <i class="ph ph-caret-right pagination-icon next-tab"></i>
        </div>
        <div class="total-registers-info flex">
            Total:<p id="total-registers">@ViewBag.TotalRegisters</p>
        </div>
    </div>
</div>

<div class="modal hidden">
    <h3 class="subheading modal-heading mg-bt-bg">Confirmar Exclusão?</h3>
    <p class="modal-message">
        Você realmente deseja excluir
    </p>
    <p class="modal-info">Todas os <b>pacientes e consultas</b> atrelados a esse item serão excluidos juntamente.</p>
    <div class="flex flex-align-center modal-box gap-md mg-tp-md">
        <button class="close-modal mg-rg-sm">Manter</button>
        <form method="post" class="form-modal" asp-action="DeletePatient" asp-controller="Patient">
            <button type="submit" class="btn-modal-item btn-warning btn-option"><i class="ph ph-trash-simple"></i></button>
        </form>
    </div>
</div>
<div class="overlay element-hidden"></div>


