@model List<AppointmentResponse>

<form asp-action="ListAppointments" asp-controller="Appointment" method="get">
    <div class="search-box">
        <input type="search" value="@ViewBag.CurrentSearchString" id="Search" name="searchString" class="input-search" placeholder="Pesquisar" />
        <a class="btn btn-full btn-add-new" asp-action="NewAppointment" asp-controller="Appointment" asp-route-PatientOrDentistID="0">Novo</a>
        <select asp-items="@ViewBag.SearchBy" name="searchBy" class="combo-search-by">
            @foreach (var field in ViewBag.SearchFields)
            {
                if (field.Key == ViewBag.CurrentSearchBy)
                {
                    <option selected="selected" value="@field.Key">@field.Value</option>
                }
                else
                {
                    <option value="@field.Key">@field.Value</option>
                }

            }
        </select>
        <button class="btn-search"><i class="ph ph-magnifying-glass"></i></button>
    </div>
</form>

@{
    await Html.RenderPartialAsync("_ShowSuccessError");
}

<div class="table-container">
    <table class="table table-10">
        <thead class="table-header">
            <tr class="table-row-header">
                @await Html.PartialAsync("_GridColumnHeaderAppointments", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(AppointmentResponse.Patient.PatientName)},
                {"DisplayName", "Paciente"},
                })

                @await Html.PartialAsync("_GridColumnHeaderAppointments", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(AppointmentResponse.Dentist.DentistName)},
                {"DisplayName", "Dentista"},
                })

                @await Html.PartialAsync("_GridColumnHeaderAppointments", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(AppointmentResponse.StartTime)},
                {"DisplayName", "Início"},
                })

                @await Html.PartialAsync("_GridColumnHeaderAppointments", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(AppointmentResponse.EndTime)},
                {"DisplayName", "Termino"},
                })

                @await Html.PartialAsync("_GridColumnHeaderAppointments", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(AppointmentResponse.AppointmentTime)},
                {"DisplayName", "Dia da Consulta"},
                })

                @await Html.PartialAsync("_GridColumnHeaderAppointments", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(AppointmentResponse.ProcedureType)},
                {"DisplayName", "Procedimento"},
                })

                @await Html.PartialAsync("_GridColumnHeaderAppointments", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(AppointmentResponse.Comments)},
                {"DisplayName", "Comentado"},
                })

                @await Html.PartialAsync("_GridColumnHeaderAppointments", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(AppointmentResponse.Status)},
                {"DisplayName", "Status"},
                })

                <th class="table-head-column">Opções</th>
            </tr>
        </thead>
        <tbody class="table-body">
            @foreach (var item in Model)
            {
                <tr class="table-row-body">
                    <td class="table-column">
                        <p class="table-item">@item.Patient?.PatientName</p>
                    </td>
                    <td class="table-column">
                        <p class="table-item">@item.Dentist?.DentistName</p>
                    </td>
                    <td class="table-column">
                        <p class="table-item">@item?.StartTime</p>
                    </td>
                    <td class="table-column">
                        <p class="table-item">@item?.EndTime</p>
                    </td>
                    <td class="table-column">
                        <p class="table-item">@item?.AppointmentTime!.Value.ToShortDateString()</p>
                    </td>
                    <td class="table-column">
                        <p class="table-item">@item?.ProcedureType</p>
                    </td>
                    <td class="table-column">
                        @if (item ?.Comments != null)
                        {
                            <p class="table-item">Sim</p>
                        }
                        else
                        {
                            <p class="table-item">Não</p>
                        }

                    </td>
                    <td class="table-column">
                        @if (item?.Status == AppointmentStatusOptions.Agendado.ToString())
                        {
                            <p class="table-item ">
                                <span class="status-paid scheaduled">Agendado</span>
                            </p>
                        }
                        else if (item?.Status == AppointmentStatusOptions.Receber.ToString())
                        {
                            <p class="table-item">
                                <span class="status-paid not-paid">Receber</span>
                            </p>
                        }
                        else
                        {
                            <p class="table-item ">
                                <span class="status-paid paid">Pago</span>
                            </p>
                        }
                    </td>
                    <td class="table-column">
                        <div class="flex gap-sm w-60">
                            @if (item?.Status == AppointmentStatusOptions.Agendado.ToString())
                            {
                                <a asp-controller="Appointment" class="btn-default btn-option" asp-action="UpdateAppointment" asp-route-id="@item?.ID"><i class="ph ph-gear"></i></a>
                            }
                            else
                            {
                                <a asp-controller="Appointment" class="btn-default btn-option" asp-action="UpdateFinishedAppointment" asp-route-id="@item?.ID"><i class="ph ph-gear"></i></a>
                            }
                            <p class="hidden item-name">@item?.Patient?.PatientName</p>
                            <p class="hidden item-id">@item?.ID</p>
                            <button class="btn-modal btn-warning btn-option"><i class="ph ph-trash-simple"></i></button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="flex flex-spaced table-footer">
        <div class="flex gap-md flex-align-center">
            <i class="ph ph-caret-left pagination-icon previous-tab"></i>
            <div class="pagination-numbers flex gap-sm"></div>
            <i class="ph ph-caret-right pagination-icon next-tab" ></i>
        </div>
        <div class="total-registers-info flex">
            Total:<p id="total-registers">@ViewBag.TotalRegisters</p>
        </div>
    </div>
</div>

<div class="modal hidden">
    <h3 class="subheading modal-heading mg-bt-bg">Confirmar Exclusão?</h3>
    <p class="modal-message">
        Você realmente deseja excluir
    </p>
    <p class="modal-info">Ao apagar a consulta desse paciente todos os registros serão apagados.</p>
    <div class="flex flex-align-center modal-box gap-md mg-tp-md">
        <button class="close-modal mg-rg-sm">Manter</button>
        <form method="post" class="form-modal" asp-action="DeleteAppointment" asp-controller="Appointment">
            <button type="submit" class="btn-modal-item btn-warning btn-option"><i class="ph ph-trash-simple"></i></button>
        </form>
    </div>
</div>
<div class="overlay element-hidden"></div>


