@model List<ClinicResponse>

<form asp-action="ListClinics" asp-controller="Clinic" method="get">
    <div class="search-box">
        <input type="search" value="@ViewBag.CurrentSearchString" id="Search" name="searchString" class="input-search" placeholder="Pesquisar" />
        <a asp-action="NewClinic" asp-controller="Clinic" class="btn btn-full btn-add-new">Nova</a>
        <select asp-items="@ViewBag.SearchBy" name="searchBy" class="combo-search-by">
            @foreach (var field in ViewBag.SearchFields)
            {
                if (field.Key == ViewBag.CurrentSearchBy)
                {
                    <option selected="selected" value="@field.Key">@field.Value</option>
                }
                else
                {
                    <option value="@field.Key">@field.Value</option>
                }

            }
        </select>
        <button class="btn-search"><i class="ph ph-magnifying-glass"></i></button>
    </div>
</form>

@{
    await Html.RenderPartialAsync("_ShowSuccessError");
}

<div class="table-container">
    <table class="table">
        <thead class="table-header">
            <tr class="table-row-header table-7">
                @await Html.PartialAsync("_GridColumnHeaderClinics", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(ClinicResponse.ClinicName)},
                {"DisplayName", "Cliníca"},
                })

                @await Html.PartialAsync("_GridColumnHeaderClinics", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(ClinicResponse.CNPJ)},
                {"DisplayName", "CNPJ"},
                })

                @await Html.PartialAsync("_GridColumnHeaderClinics", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(ClinicResponse.City)},
                {"DisplayName", "Cidade"},
                })

                @await Html.PartialAsync("_GridColumnHeaderClinics", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(ClinicResponse.Phone)},
                {"DisplayName", "Telefone"},
                })

                @await Html.PartialAsync("_GridColumnHeaderClinics", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(ClinicResponse.StreetName)},
                {"DisplayName", "Rua"},
                })

                @await Html.PartialAsync("_GridColumnHeaderClinics", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(ClinicResponse.Neighborhood)},
                {"DisplayName", "Bairro"},
                })

                <th class="table-head-column"></th>
            </tr>
        </thead>
        <tbody class="table-body">
            @foreach (var item in Model)
            {
                <tr class="table-row-body">
                    <td class="table-column">
                        <p class="table-item">@item.ClinicName</p>
                    </td>
                    <td class="table-column">
                        <p class="table-item">@item.CNPJ</p>
                    </td>
                    <td class="table-column">
                        <p class="table-item">@item.City</p>
                    </td>
                    <td class="table-column">
                        <p class="table-item">@item.Phone</p>
                    </td>
                    <td class="table-column">
                        <p class="table-item">@item.StreetName</p>
                    </td>
                    <td class="table-column">
                        <p class="table-item">@item.Neighborhood</p>
                    </td>
                    <td class="table-column">
                        <div class="flex gap-sm">
                            <a asp-controller="Clinic" class="btn-default btn-option" asp-action="UpdateClinic" asp-route-id="@item.ID"><i class="ph ph-gear"></i></a>
                            <p class="hidden item-name">@item.ClinicName</p>
                            <p class="hidden item-id">@item.ID</p>
                            <button class="btn-modal btn-warning btn-option"><i class="ph ph-trash-simple"></i></button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="flex flex-spaced table-footer">
        <div class="flex gap-md flex-align-center">
            <i class="ph ph-caret-left pagination-icon previous-tab"></i>
            <div class="pagination-numbers flex gap-sm"></div>
            <i class="ph ph-caret-right pagination-icon next-tab"></i>
        </div>
        <div class="total-registers-info flex">
            Total:<p id="total-registers">@ViewBag.TotalRegisters</p>
        </div>
    </div>
</div>

<div class="modal hidden">
    <h3 class="subheading modal-heading mg-bt-bg">Confirmar Exclusão?</h3>
    <p class="modal-message">
        Você realmente deseja excluir
    </p>
    <p class="modal-info">Todas os <b>gerenciadores, pacientes e dentistas</b> atrelados a esse item serão excluidos juntamente.</p>
    <div class="flex flex-align-center modal-box gap-md mg-tp-md">
        <button class="close-modal mg-rg-sm">Manter</button>
        <form method="post" class="form-modal" asp-action="DeleteClinic" asp-controller="Clinic">
            <button type="submit" class="btn-modal-item btn-warning btn-option"><i class="ph ph-trash-simple"></i></button>
        </form>
    </div>
</div>
<div class="overlay element-hidden"></div>
